{% extends "home/base.html" %}

{% block  content_page %}
    {% load static %}
    {% load home_extras %}

    <div class="container descriprion-course mb-5">


        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">{{curso.nome}}</h2>
              
              <p class="lead">Terminando o curso de Sistemas Informaticos o estudante deve estar capacitado em:</p>
              <ul class="lead">
                <li>Montar, dar manuntecao e consertar uma rede de computadores completa</li>
                <li>Criar softwares de pequeno, medio e grande porte</li>
                <li>Alanizar e descrever requisitos de softwre</li>
                <li>Perceber linguagem tecnica do enginheiro informaticos</li>
                <li>Etc</li>
            </ul>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="{% static 'home/img/01.png' %}" alt="Generic placeholder image">
            </div>
          </div>
    </div>


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Preço</h1>
        <p class="lead">O curso de {{curso.nome}} na nossa instituição é lecionado em dois regime, regular e vocacional.</p>
      </div>
  
      <div class="container mb-5">
        <div class="card-deck col-8 mb-3 text-center offset-2">
          <div class="card mb-4 shadow-box-green">
            <div class="card-header costum-bg-card-title">
              <h4 class="my-0 font-weight-normal">Regular</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title timesN">{{curso.mensalidade_regular}} MT <small class="text-muted">/ mes</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Mínimo 10 classe ou equivalente.</li>
                <li>5 Semestres</li>
              </ul>
              <a href="{% url 'url_cad_matricula' curso=curso.nome|first_word regime='regular' %}" type="button" class="btn btn-lg btn-block no-border-radius btn-costum-yellow">Pre-cadastro</a>
            </div>
          </div>
          <div class="card mb-4 shadow-box-green">
            <div class="card-header costum-bg-card-title">
              <h4 class="my-0 font-weight-normal">Vocacional</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title timesN">{{curso.mensalidade_vocacional}} MT <small class="text-muted">/ mes</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Mínimo 12 classe ou equivalente.</li>
                <li>3 Semestres</li>
              </ul>
              <a href="{% url 'url_cad_matricula' curso=curso.nome|first_word regime='vocacional' %}" type="button" class="btn btn-lg btn-block no-border-radius btn-costum-yellow">Pre-cadastro</a>
            </div>
          </div>
        </div>
      </div>


    <div class="container table-course mb-5">
        <h1 class="display-4 mb-3 text-center">Plano do curicular</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a id="nav-regular" class="nav-link active bg-light" href="#table-regular">Regular</a>
            </li>
            <li class="nav-item">
                <a id="nav-vocacional" class="nav-link bg-light" href="#table-vocacional">Vocacional</a>
            </li>
        </ul>


        <table class="table table-hover" id="table-regular">
            <thead class="thead-light">
            <tr>
                <th class="coll-semestre costum-bg" colspan="4">Primeiro Ano</th>
            </tr>
            <tr>
                <th scope="col">Primeiro Semestre</th>
                <th scope="col">Segundo Semestre</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Matemática I</td>
                <td>Português</td>
            </tr>
            <tr>
                <td>Português</td>
                <td>Matemática</td>
            </tr>
            <tr>
                <td>Filosofia</td>
                <td>Matemática</td>
            </tr>
            <tr>
            </tbody>
            <thead class="thead-light">
            <tr>
                <th class="coll-semestre costum-bg" colspan="4">Segundo Ano</th>
            </tr>
            <tr>
                <th scope="col">Terceiro Semestre</th>
                <th scope="col">Quarto Semestre</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Matemática I</td>
                    <td>Português</td>
                </tr>
                <tr>
                    <td>Português</td>
                    <td>Matemática</td>
                </tr>
                <tr>
                    <td>Filosofia</td>
                    <td>Matemática</td>
                </tr>
                <tr>
                </tbody>
            <thead class="thead-light">
            <tr>
                <th class="coll-semestre costum-bg" colspan="4">Terceiro Ano</th>
            </tr>
            <tr>
                <th scope="col">Quinto Semestre</th>
                <th scope="col">Sexto Semestre</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Matemática I</td>
                    <td>Português</td>
                </tr>
                <tr>
                    <td>Português</td>
                    <td>Matemática</td>
                </tr>
                <tr>
                    <td>Filosofia</td>
                    <td>Matemática</td>
                </tr>
                <tr>
            </tbody>
        </table>



    <table class="table table-hover" id="table-vocacional">
            <thead class="thead-light">
            <tr>
                <th class="coll-semestre costum-bg" colspan="4">Primeiro Semestre</th>
            </tr>
            <tr>
                <th scope="col">Disciplona</th>
                <th scope="col">Horas</th>
                <th scope="col">Peso</th>
                <th scope="col">Precedencia</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Matemática I</th>
                <td>50</td>
                <td>20%</td>
                <td>Com</td>
            </tr>
            <tr>
                <th scope="row">Português</th>
                <td>50</td>
                <td>20%</td>
                <td>Com</td>
            </tr>
            <tr>
                <th scope="row">Filosofia</th>
                <td>50</td>
                <td>20%</td>
                <td>Com</td>
            </tr>
            <tr>
            </tbody>
            <thead class="thead-light">
            <tr>
                <th class="coll-semestre costum-bg" colspan="4">Segundo Semestre</th>
            </tr>
            <tr>
                <th scope="col">Disciplona</th>
                <th scope="col">Horas</th>
                <th scope="col">Peso</th>
                <th scope="col">Precedencia</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Linguagem e tecnica de Programacao I</th>
                <td>50</td>
                <td>20%</td>
                <td>Com</td>
            </tr>
            <tr>
                <th scope="row">Tecnologias e Redes de Computador I</th>
                <td>50</td>
                <td>20%</td>
                <td>Com</td>
            </tr>
            <tr>
                <th scope="row">Analise de Sistemas</th>
                <td>50</td>
                <td>20%</td>
                <td>Com</td>
            </tr>
            </tbody>
            <thead class="thead-light">
            <tr>
                <th class="coll-semestre costum-bg" colspan="4">Terceiro Semestre</th>
            </tr>
            <tr>
                <th scope="col">Disciplona</th>
                <th scope="col">Horas</th>
                <th scope="col">Peso</th>
                <th scope="col">Precedencia</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Linguagem e tecnica de Programacao II</th>
                <td>50</td>
                <td>20%</td>
                <td>Com</td>
            </tr>
            <tr>
                <th scope="row">Tecnologias e Redes de Computador II</th>
                <td>50</td>
                <td>20%</td>
                <td>Com</td>
            </tr>
            <tr>
                <th scope="row">Quimica</th>
                <td>50</td>
                <td>20%</td>
                <td>Com</td>
            </tr>
            <tr>
        </table>

    </div>

{% endblock %}