

/* Home Section */
/*#intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../../img/background.png) no-repeat center center fixed;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
*/
.section-title.center {
	padding: 30px 0;
}
.section-title h2, .section-title.center h2 {
	margin-bottom: 30px;
}
/* About Section */
#about {
	padding: 50px 0;
	background: #f6f6f6;
}
#about .about-text {
	margin-left: 10px;
}
#about H4 {
	font-size: 20px;
}
#about li {
	margin-bottom: 3px;
	list-style: none;
	padding: 0;
	font-size: 13px;
}
#about li:before {
	content: "✓";
	font-weight: 600;
	padding-right: 10px;
	color: #1aa717;
}
#about i.fa {
	float: left;
	display: block;
	margin-right: 15px;
	color: #fff;
	font-size: 44px;
	text-shadow: 0 0 1px #666;
}
#about img {
	margin-top: 20px;
}
#about p {
	margin-top: 20px;
	margin-bottom: 30px;
}
/* Services Section */
#services {
	padding: 140px 0;
	background: url(../img/NelTo.png);
	background-size: cover;
	background-attachment: fixed;
}
#services .service {
	padding: 20px 10px;
}
#services h2 {
	color: #f6f6f6;
}
#services h3 {
	font-size: 20px;
	font-weight: 600;
	color: #f6f6f6;
}
#services p {
	color: rgba(255,255,255,0.7);
}
.space {
	margin-top: 40px;
}
#services i.fa {
	font-size: 36px;
	color: #fff;
	transition: all 0.5s;
}

/* Team Section */
#team {
	padding: 140px 0;
	background: #e6e6e6;
}
img.img-thumbnail.team-img {
	width: 200px;
	height: 200px;
	border: 0;
	border-radius: 0;
	background-color: #f6f6f6;
}
#team .thumbnail {
	background: transparent;
	border: 0;
}
#team .thumbnail .caption {
	padding: 9px;
	color: #777;
}
/* Testimonials Section */
#testimonials {
	background: url('../img/NelTo.png');
	background-size: cover;
	background-attachment: fixed;
	color: #ddd;
	padding: 140px 0;
}
#testimonials h2 {
	color: #f6f6f6;
}
#testimonials blockquote {
	position: relative;
	margin-top: 20px;
	border: 0;
	text-align: center;
	color: rgba(255,255,255,0.8);
}
#testimonials i {
	font-size: 24px;
	color: rgba(255,255,255,0.3);
	margin-bottom: 14px;
}
#testimonials .clients-name {
	display: inline-block;
	border-top: 1px solid rgba(255,255,255,0.3);
	padding: 20px 0;
	margin-top: 10px;
}
/* Contact Section */
#contact {
	padding: 120px 0 40px 0;
	background: #f6f6f6;
}
#contact .contact-item {
	padding: 10px;
	margin: 10px;
	height: 100px;
	border-radius: 4px;
}
#contact h3 {
	font-size: 20px;
	font-weight: 400;
	margin-top: 40px;
}
#contact form {
	padding: 30px 0;
}
#contact i.fa {
	font-size: 22px;
	color: #1aa717;
	margin-bottom: 10px;
}
#contact .text-danger {
	color: #ff3333;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#contact .btn-default {
	background: #1aa717;
	border: 0;
	border-radius: 4px;
	padding: 10px 20px;
	color: #f6f6f6;
	margin-top: 15px;
	font-size: 15px;
}
#contact .btn-default:hover, #contact .btn-default:focus {
	color: #f6f6f6;
	background: #1aa717;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
#contact .social ul {
	margin-top: 30px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 24px;
	padding-top: 8px;
	color: #1aa717;
	border-radius: 4px;
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: #1aa717;
}

/*hwon*/
.txtSlide{
	color: #fff;
	font-size: 100px;
}

