body{
    background-color: #ddd;
    font-size: 15px;
}

.dropdown-menu{
    font-size: 12px;
}

.heigth-top{
    margin-top: 2rem;
}

.title-bg{
    background-color: yellow;
    margin: 0;
}


/*base*/



/*navbar*/
.navbar-costom{
    text-transform: uppercase;
}
.navbar-costom-nav li a{
    /*padding-left: 0.9375rem !important;
    padding-right: 0.9375rem !important;*/
    width: 6.5rem;
    text-align: center;
    /*border-left: rgba(221, 221, 221, 0.28) solid 1px;
    border-right: rgba(221, 221, 221, 0.28) solid 1px;*/
    font-weight: bold;
    color: #fff !important;
}

.navbar-costom-nav li:hover{
    background-color: rgba(0, 0, 0, 0.15);
}

.navbar-costom-nav li.active{
    background-color: rgba(0, 0, 0, 0.15);
}

/*footer*/

/*contact*/

.contact{
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.contact div form div{
    text-align: left;
}

.contact-us{
    text-align: left;
}


.contact-us div p{
    margin: 0;
}


.info-contacto{
    border-left:    #ddd solid 1px;
    border-right:   #ddd solid 1px;
}

@media (max-width: 575.98px) {
    .info-contacto{
        border-left:    none;
        border-right:   none;
        border-top:    #ddd solid 1px;
        border-bottom:   #ddd solid 1px;
    }
}

@media (max-width: 767.98px) {
    .info-contacto{
        border-left:    none;
        border-right:   none;
        border-top:    #ddd solid 1px;
        border-bottom:   #ddd solid 1px;
    }
}


/*end contact*/

footer a{
    color: #ddd;
}

footer a:hover{
    color: #fff;
}

/*end footer*/


/*end base*/


/*main*/
main{
    /*margin-top: -25px;*/
}

/*ened main*/

/*top*/
/*carousel*/
.carousel .carousel-inner .carousel-item img.top-carousel-img{
    width: 100%;
    height: 25rem;
}
/* end carousel*/

/*end top*/

/*about*/
.about{
    text-align: center;
    /*background-color: #fff;*/
}


.rigth-text{
    text-align: right;
}

.left-text{
    text-align: left;
}
/*end about*/

/*parceiro*/
.parceiros{
    height: 12rem;
}


/*.img-parceiro img{
height: 80px;
width: 80px;
box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 1) !important;
}
*/


/*end parceiro*/





/* Split */

.split {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

    .split > * {
        width: calc(50% - 2.5em);
    }

    .split > :nth-child(1n - 1) {
        border-right: solid 5px #ddd;
    }


    /*testes*/

    .fas{
        font-size: 3rem;
    }

    .top-card-title{
        margin-top: 2.5%;
    }

    .curso-heigth{
        height: 5.5rem;
    }

    .about-heigth{
        height: 11.07rem;
    }

    .element-flout-rigth{
        float: right;
    }



    /*Link biblioteca*/

    /*aside*/

    aside.aside-biblioteca{
        border-right: solid 5px rgba(0, 0, 0, 0.15);
    }

    /*end aside/*/

    /*end link biblioteca*/